body {
  background-image: url("../img/grass.jpg");
}
div.container {
  max-width: 960px;
}
a#title {
  float: right;
}
a#launchTeamModal {
  display: none;
  color: #0088cc;
}
a#launchTeamModal:hover {
  color: #005580;
}
div#mainContent {
  padding-bottom: 20px;
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: rgba(255, 255, 255, .9);
}
img#logo {
  width: 100px;
  position: absolute;
  top: 3px;
  left: 400px;
  z-index: 1030;
}
div#tableRow {
  margin-top: 40px;
}
div#maxTeamsAlert, div#createTeamAlert, div#tieErrorAlert, div#startSeason {
  display: none;
  text-align: center;
}
span#maxTeams, span#minTeams {
  font-weight: bold;
}
h3, h4 {
  text-align: center;
}
th.rank, td.rank {
	width: 40px;
  text-align: right;
}
th.name, td.name {
	width: 135px;
}
a.teamInfo:hover {
  text-decoration: none;
}
h4.infoTitle {
  margin: 0;
}
th.record, td.record {
	width: 50px;
  text-align: center;
}
th.deleteColumn, td.deleteColumn {
  width: 46px;
}
button.delete {
  display: none;
}
th.teams, td.teams {
  width: 135px;
}
th.final, td.final {
  width: 75px;
  text-align: center;
}
th.report, td.report {
  width: 82px;
}
a.score {
  display: none;
}
div#teamModal {
  z-index: 9999;
}
div.formInfoAlert {
  text-align: center;
}
div#scoreModal {
  width: 400px;
  z-index: 9999;
}
form#scoreForm {
  text-align: center;
}
span#homeTeam {
  width: 150px;
  margin-right: 15px;
  display: inline-block;
  text-align: right;
}
span#awayTeam {
  width: 150px;
  margin-left: 15px;
  display: inline-block;
  text-align: left;
}
form#scoreForm input {
  width: 25px;
  margin: 0 25px;
}
div#resetModal, div#seasonModal {
  text-align: center;
  z-index: 9999;
}
.validatr-error {
  padding: 2px 6px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  background-color: #f2dede;
  color: #b94a48;
}