div.container {
  max-width: 960px;
}
a#title {
  float: right;
}
div#mainContent {
  margin-top: 40px;
}
div#formAlert, div#startSeason {
  display: none;
  text-align: center;
}
h3 {
  text-align: center;
}
th.center, td.center {
	text-align: center;
}
th.rank {
	width: 40px;
}
td.name {
	width: 135px;
}
th.record, td.record {
	width: 50px;
}