div#standings {
	width: 500px;
	margin: 50px auto 0 auto;
}
div#standings th, div#standings td {
	width: 100px;
	padding: 0 5px;
	border: 1px solid black;
}
div#standings tr>th:first-child {
	width: 20px;
}
div#userInput {
	width: 500px;
	margin: 20px auto 0 auto;
	text-align: center;
}
div#formAlert {
	margin-top: 20px;
	display: none;
}